$primary-color: #2196f3;
$range-size: 8px;
$thumb-size: 20px;
$thumb-color: white;
$box-shadow-color: #aaa;

.input-range {
  user-select: none;
  cursor: pointer;
  margin: $thumb-size*2 0;
  color: $primary-color;

  .track {
    position: relative;
    height: $range-size;
    background: lighten($primary-color, 30%);
    border-radius: $range-size;

    .range {
      background: $primary-color;
      border-radius: $range-size;
      height: 100%;
    }

    .thumb {
      position: relative;
      background: $thumb-color;
      box-shadow: 0 0 10px -2px $box-shadow-color;
      width: $thumb-size;
      height: $thumb-size;
      border-radius: $thumb-size;
      margin-top: -($thumb-size + $range-size)/2;
      transform: translateX(-$thumb-size/2);
      &:before {
        content: ' ';
        position: absolute;
        left: 8px;
        top: 6px;
        height: 8px;
        width: 3px;
        border-left: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
      }
    }
    .value {
      position: absolute;
      top: -$thumb-size*2;
      transform: translateX(-50%);
      background: $thumb-color;
      box-shadow: 0 0 10px -2px $box-shadow-color;
      border-radius: 4px;
      line-height: 20px;
      padding: 0 10px;
      white-space: nowrap;
      &:before {
        content: ' ';
        position: absolute;
        width: 6px;
        height: 6px;
        left: 50%;
        top: 100%;
        background: #fff;
        margin-left: -3px;
        margin-top: -4px;
        transform: rotate(-45deg);
      }
    }
  }

  .mark {
    position: relative;
    pointer-events: none;
    li {
      position: absolute;
      top: -$range-size;
      transform: translateX(-50%);
      &:first-child ,&:last-child {
        &:before {
          visibility: hidden;
        }
      }
      &:before {
        content: ' ';
        width: 2px;
        height: $range-size;
        background: rgba(255,255,255,0.8);
        display: block;
        margin: auto;
        margin-bottom: $thumb-size/2;
      }
    }
  }
}